/* Estilos base */
body {
    background-image: url('background2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

/* Estilos de navegación */
nav.navbar {
    position: relative;
    z-index: 100;
    background-color: #313131;
    padding: 0.1rem;
    font-family: 'Georgia', sans-serif;
}

.navbar-text {
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 0 #d9d9d9,
                -1px -1px 0 #d9d9d9,
                1px -1px 0 #d9d9d9,
                -1px 1px 0 #d9d9d9;
}

/* Contenedores y elementos informativos */
.info-container {
    background-color: #313131;
    padding: 25px; /* Aumentado */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    z-index: 101;
}

.text-titulo,
.text-subtitulo {
    color: #ffff;
}

.info-container h3, 
.info-container h5 {
    margin: 0 0 10px;
    text-align: left;
}

.info-container h6 {
    margin: 0 0 10px;
    text-align: center;
}

/* Estilos de texto */
.text-black {
    color: #ffff;
}

.textInfo {
    color: green;
}

.textInfo2 {
    color: #ffff;
    font-size: 18px; /* Aumentado */
}

/* Estilos de botones */
.btn_lunch {
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn_lunch img {
    display: block;
    background-color: transparent;
    border-radius: 0;
    margin: 0 10px;
    width: 50px; /* Aumentado */
}

/* Contenedor de botones de perfil */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Aumentado */
    margin-top: 20px; /* Aumentado */
}

.btn_perfil {
    background-color: #313131;
    border: 2px solid #6fbd4e;
    color: #6fbd4e;
    padding: 12px 25px; /* Aumentado */
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px; /* Aumentado */
}

.btn_perfil:hover {
    background-color: #6fbd4e;
    color: #313131;
}

.centered-rectangle {
    text-align: center;
    position: absolute;
    padding: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%; /* Puedes ajustar el ancho según necesites */
    height: 600px; /* Puedes ajustar la altura según necesites */
    background-color: rgba(49, 49, 49, 0.9); /* #313131 con 90% de opacidad */
    border-radius: 10px; /* Opcional: para bordes redondeados */
    z-index: 50; /* Para asegurar que esté por debajo del nav pero por encima del fondo */
}

/* Reloj */
#reloj {
    font-size: 24px; /* Tamaño de fuente del reloj */
    color: #6fbd4e; /* Color del texto */
}

/* Estilos del botón centrado */
.btn_comprar_combo {
    margin-top: auto; /* Esto centra el botón en la parte inferior */
    background-color: #313131;
    border: 2px solid #6fbd4e;
    color: #6fbd4e;
    padding: 12px 25px; /* Aumentado */
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn_comprar_combo:hover {
    background-color: #6fbd4e; /* Cambia el fondo al pasar el mouse */
    color: #313131; /* Cambia el color del texto al pasar el mouse */
}

.reloj {
    width: 250px;
    height: 250px;
    border: 2.5px solid #ffff;
    border-radius: 50%;
    position: relative;
    margin: auto; /* Centramos el contenedor en su elemento padre */
    display: flex;
    justify-content: center; /* Centra el reloj horizontalmente */
    align-items: center;
}

.manecilla {
    position: absolute;
    background: #ffff;
    transform-origin: bottom;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.hora {
    width: 5px;
    height: 60px;
}

.minuto {
    width: 5px;
    height: 90px;
}

.segundo {
    width: 5px;
    height: 110px;
    background: #ffff;
}

.centro {
    position: absolute;
    background: #ffff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hora-digital {
    font-size: 24px; /* Ajusta el tamaño según tus necesidades */
    font-weight: bold;
    color: #ffff; /* Color de la hora digital */
    text-align: center; /* Centra el texto */
    margin-top: 10px; /* Espaciado entre el reloj analógico y la hora digital */
    margin-bottom: 20px; /* Espaciado inferior, ajusta   según sea necesario */
}


/* Modal Overlay */
#modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo gris con opacidad */
    z-index: 100; /* Por encima de otros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalContent {
    background-color: #313131;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

#modalContent h3 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #d9d9d9;
}

#modalContent p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #d9d9d9;
}

#closeModalButton {
    margin-top: auto; /* Esto centra el botón en la parte inferior */
    background-color: #313131;
    border: 2px solid #6fbd4e;
    color: #6fbd4e;
    padding: 12px 25px; /* Aumentado */
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#closeModalButton:hover {
    background-color: #6fbd4e;
    color: #313131;
}

