/* Imagen de fondo para la página */
body {
    background-image: url('imagenesLobby/background2.png');
    background-size: cover; /* La imagen cubrirá toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0; /* Elimina el margen por defecto del body */
    height: 100vh; /* Asegura que la imagen cubra toda la altura de la ventana */
}

/* Barra de navegación con fondo semitransparente */
nav.navbar {
    position: relative;
    z-index: 100;
    background-color: #313131; /* Fondo semitransparente */
    padding: 0.1rem; /* Ajusta el padding según necesites */
    font-family: 'Georgia', sans-serif;
}

/* Estilo para el texto en la barra de navegación */
.navbar-text {
    font-size: 30px; /* Aumenta el tamaño del texto */
    font-weight: bold; /* Pone el texto en negrita */
    color: black; /* Asegúrate de que el texto sea negro */
    text-shadow: 1px 1px 0 #d9d9d9,
                 -1px -1px 0 #d9d9d9,
                 1px -1px 0 #d9d9d9,
                 -1px 1px 0 #d9d9d9; /* Sombra del texto */
}

/* Contenedores de información */
.info-container {
    background-color: white; /* Fondo claro */
    padding: 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-top: 20px; /* Espacio encima del contenedor */
    z-index: 101; /* Asegura que estén por encima de la imagen de fondo */
}

/* Estilo para los títulos en los contenedores */
.info-container h3, 
.info-container h5 {
    margin: 0 0 10px; /* Margen inferior */
    text-align: left; /* Alineación a la izquierda */
}

/* Estilo para los subtítulos */
.info-container h6 {
    margin: 0 0 10px; /* Margen inferior */
    text-align: center; /* Alineación centrada */
}

/* Estilo para el texto en negro */
.text-black {
    color: black; /* Color de texto negro */
}

/* Estilo para el texto en verde */
.textInfo {
    color: green; /* Cambia el color del texto a verde */
}

/* Asegura que los botones tengan fondo transparente */
.btn_lunch {
    background-color: transparent; /* Elimina cualquier fondo del botón */
    border: none; /* Elimina los bordes del botón */
    padding: 0; /* Elimina el espaciado interno del botón */
}

/* Asegura que las imágenes en los botones mantengan su fondo transparente */
.btn_lunch img {
    display: block; /* Asegura que la imagen no tenga espacio alrededor */
    background-color: transparent; /* Asegura que el fondo de la imagen sea transparente */
    border-radius: 0; /* Elimina cualquier borde redondeado en la imagen */
    margin: 0; /* Elimina cualquier margen adicional */
    margin-right: 10px;
    margin-left: 10px;
}


.profile-image {
    width: 80px; /* Ancho de la imagen del perfil */
    height: auto; /* Altura automática para mantener proporciones */
    margin: 10px 0; /* Margen superior e inferior para dar espacio */
    position: relative;
}

