body {
    background-image: url("imagenes/fondoLogin.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Shrikhand';
    font-weight: 150;
}

.base {
    position: relative;
    padding: 40px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.logo {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.btn-login {
    font-size: 18px;
    background-color: #313131;
    border: 2px solid #6fbd4e;
    color: #6fbd4e;
    padding: 12px 25px;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 20px auto 0;
    display: block;
}

.btn-login:hover {
    background-color: #6fbd4e;
    color: #d9d9d9;
}

.centered-rectangle {
    text-align: center;
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background-color: #313131;
    border-radius: 35px;
    z-index: 50;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.mb-3 {
    text-align: left;
}

.mb-3 a {
    color: #d9d9d9;
}

.form-control {
    background-color: #3b3b3b;
    border-color: #3b3b3b;
    margin-bottom: 10px;
    border-radius: 30px;
    padding-left: 10%;
}

.form-control::placeholder {
    color: #d9d9d9;
    font-size: 16px;
}

.text-center {
    margin: 5%;
    font-size: 36px;
    color: #313131;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #d9d9d9;
}

.forgot-pass {
    text-decoration: none;
    color: #d9d9d9;
}

.btn-Ingresar {
    background-color: #313131;
    border: 2px solid #6fbd4e;
    color: #6fbd4e;
    padding: 12px 25px;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 20px auto 0;
    display: block;
}

.btn-Ingresar:hover {
    background-color: #6fbd4e;
    color: #d9d9d9;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .base {
        width: 100%;
        padding: 20px;
    }

    .btn-login {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }

    .centered-rectangle {
        width: 90%;
        padding: 20px;
    }

    .form-control {
        padding-left: 5%;
    }

    .text-center {
        font-size: 28px;
    }

    .btn-Ingresar {
        width: 100%;
        font-size: 16px;
    }
}

@media (max-width: 350px) {
    .text-center {
        font-size: 24px;
    }

    .form-control {
        font-size: 14px;
    }

    .btn-login,
    .btn-Ingresar {
        padding: 8px 20px;
        font-size: 14px;
    }
}
