/* Estilos base */
body {
    background-image: url('imagenes/background2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    font-family: 'Shrikhand';
    font-weight: 100;
}

/* Estilos de navegación */
nav.navbar {
    position: relative;
    z-index: 100;
    background-color: #313131;
    padding: 0.1rem;
    font-family: 'Georgia', sans-serif;
}

.navbar-text {
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 0 #d9d9d9,
                -1px -1px 0 #d9d9d9,
                1px -1px 0 #d9d9d9,
                -1px 1px 0 #d9d9d9;
}

/* Contenedores y elementos informativos */
.info-container {
    background-color: #313131;
    padding: 25px; /* Aumentado */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    z-index: 101;
}

.text-titulo,
.text-subtitulo {
    color: #ffff;
}

.info-container h3, 
.info-container h5 {
    margin: 0 0 10px;
    text-align: left;
}

.info-container h6 {
    margin: 0 0 10px;
    text-align: center;
}

/* Estilos de texto */
.text-black {
    color: #ffff;
}

.textInfo {
    color: green;
}

.textInfo2 {
    color: #ffff;
    font-size: 18px; /* Aumentado */
}

/* Estilos de botones */
.btn_lunch {
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn_lunch img {
    display: block;
    background-color: transparent;
    border-radius: 0;
    margin: 0 10px;
    width: 50px; /* Aumentado */
}

/* Contenedor de botones de perfil */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Aumentado */
    margin-top: 20px; /* Aumentado */
}

.btn_perfil {
    background-color: #313131;
    border: 2px solid #6fbd4e;
    color: #6fbd4e;
    padding: 12px 25px; /* Aumentado */
    width: 200px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px; /* Aumentado */
}

.btn_perfil:hover {
    background-color: #6fbd4e;
    color: #313131;
}

.centered-rectangle {
    text-align: center;
    position: absolute;
    padding: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Cambia el ancho a un porcentaje */
    max-width: 600px; /* Limita el ancho máximo */
    height: auto; /* Deja que la altura se ajuste automáticamente */
    min-height: 400px; /* Establece una altura mínima */
    background-color: rgba(49, 49, 49, 0.9); /* Mantén el color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    z-index: 50; /* Asegura que esté en el nivel adecuado */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Añade una sombra para mejorar la estética */
}

/* Ajusta el reloj */
.reloj {
    width: 60%; /* Usa un porcentaje para el ancho */
    max-width: 250px; /* Limita el ancho máximo */
    height: auto; /* Altura proporcional */
    aspect-ratio: 1; /* Mantén el reloj como un círculo perfecto */
    border: 2.5px solid #ffff;
    border-radius: 50%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manecilla {
    position: absolute;
    background: #ffff;
    transform-origin: bottom;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.hora {
    width: 3%; /* Usa un porcentaje relativo al reloj */
    height: 25%;
}

.minuto {
    width: 2%;
    height: 35%;
}

.segundo {
    width: 1.5%;
    height: 40%;
    background: #ffff;
}

.centro {
    position: absolute;
    background: #ffff;
    width: 5%;
    height: 5%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hora-digital {
    font-size: clamp(16px, 4vw, 24px); /* Establece un tamaño mínimo, preferido y máximo */
    font-weight: bold;
    color: #ffff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Botón Comprar */
.btn_comprar_combo {
    margin-top: auto;
    background-color: #313131;
    border: 2px solid #6fbd4e;
    color: #6fbd4e;
    padding: 12px 5%;
    width: auto;
    max-width: 200px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn_comprar_combo:hover {
    background-color: #6fbd4e;
    color: #313131;
}

/* Media Queries */
@media (min-width: 768px) {
    .centered-rectangle {
        width: 50%;
        height: auto;
        padding: 70px;
    }

    .hora-digital {
        font-size: 20px;
    }

    .btn_comprar_combo {
        padding: 12px 25px;
    }
}

@media (min-width: 1024px) {
    .centered-rectangle {
        width: 40%;
        height: 600px;
    }

    .hora-digital {
        font-size: 24px;
    }
}


/* Modal Overlay */
#modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo gris con opacidad */
    z-index: 100; /* Por encima de otros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalContent {
    background-color: #313131;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

#modalContent h3 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #d9d9d9;
}

#modalContent p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #d9d9d9;
}

#closeModalButton {
    margin-top: auto; /* Esto centra el botón en la parte inferior */
    background-color: #313131;
    border: 2px solid #6fbd4e;
    color: #6fbd4e;
    padding: 12px 25px; /* Aumentado */
    width: 200px;
    border-radius: px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#closeModalButton:hover {
    background-color: #6fbd4e;
    color: #313131;
}



/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo gris con opacidad */
    z-index: 100; /* Por encima de otros elementos */
    display: none; /* Asegurarse de que esté oculto inicialmente */
    justify-content: center;
    align-items: center;
}

/* Modal Content */
.modal-content {
    background-color: #313131; /* Fondo gris oscuro */
    padding: 80px;
    border-radius: 10px;
    text-align: center;
    width: 35%;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    justify-content: center;
    font-size: 20px;
    transition: all 0.3s ease;
}

/* Responsivo: Ajuste del modal para pantallas pequeñas */
@media (max-width: 768px) {
    .modal-content {
        width: 80%; /* Ajustar al 80% del ancho */
        padding: 40px; /* Reducir el padding */
    }
}

/* Responsivo: Ajustar modal aún más para pantallas muy pequeñas */
@media (max-width: 480px) {
    .modal-content {
        width: 90%; /* Ajustar al 90% del ancho */
        padding: 20px; /* Reducir aún más el padding */
    }

    .modal-buttons {
        flex-direction: column; /* Apilar botones en lugar de alinearlos horizontalmente */
    }

    .modal-confirm-btn, .modal-close-btn {
        width: 100%; /* Hacer los botones más anchos en pantallas pequeñas */
    }

    .modalSelecciones {
        flex-direction: column; /* Apilar las opciones de selección */
    }

    .seleccion {
        margin-bottom: 15px; /* Añadir un poco de espacio entre las opciones */
    }

    .modalMetodoPago {
        flex-direction: column; /* Apilar el método de pago */
        text-align: center; /* Centrar texto */
    }
}

/* Modificaciones para el selectMethod */
.selectMethod {
    background-color: #313131;
    color: #d9d9d9;
    margin: 2%;
    width: 100%; /* Hace que el select ocupe todo el ancho disponible */
    padding: 10px; /* Agrega un poco de espacio interno */
    border: 2px solid #6fbd4e;
    border-radius: 5px;
}

/* Responsivo: Ajuste del selectMethod en pantallas pequeñas */
@media (max-width: 768px) {
    .selectMethod {
        width: 100%; /* Asegurarse de que ocupe todo el ancho disponible en pantallas pequeñas */
    }
}

/* Responsivo para pantallas muy pequeñas */
@media (max-width: 480px) {
    .selectMethod {
        font-size: 16px; /* Reducir el tamaño de la fuente para pantallas pequeñas */
        padding: 8px; /* Reducir el padding */
    }
}

.modal-content h3 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #d9d9d9;
}

.modal-content p {
    margin-bottom: 10px;
    color: #d9d9d9;
}

.modal-buttons {
    display: flex;
    flex-direction: column; /* Distribuye los botones a ambos lados */
    margin-top: 20px;
    gap: 10px; /* Espacio entre los botones */
}

.modal-confirm-btn, .modal-close-btn {
    background-color: #313131;
    border: 2px solid #6fbd4e;
    color: #6fbd4e;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-confirm-btn:hover {
    background-color: #6fbd4e;
    color: #313131;
}

.modal-close-btn:hover {
    background-color: #6fbd4e;
    color: #313131;
}

.modalSelecciones {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 2%;
}

.seleccion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 5%;
}

.checkbox {
    margin-left: 15px; /* Mantiene el margen a la izquierda de los checkboxes */
}

.modalMetodoPago {
    display: flex;
    align-items: center;
    width: 100%;
}